@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Tajawal', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.filter-blue {
  filter: brightness(0) saturate(100%) invert(22%) sepia(98%) saturate(479%) hue-rotate(172deg) brightness(95%) contrast(103%);
}
.filter-white {
  filter: brightness(0) saturate(100%) invert(100%);
}
